<%# Creates table header link for sorting   with sortable glyphicon %>
<%# text: table header text %>
<%# column: ActiveRecord object atribute %>
<%# sort_by: a hash containing column and direction. e.g.: {"column": "name", "direction": "asc"} %>

<% sorting_direction = get_sorting_direction(column, sort_by) %>
<%= link_to text, params.merge(sort_by: {column: column, direction: sorting_direction}) %>
<% if sort_by.with_indifferent_access[:column] == column.to_s %>
  <span class="glyphicon th_sort_<%=sorting_direction.to_s%>"></span>
<% end %>