.table-responsive
  %table.table#currently_sponsored_orphans
    %thead
      %tr
        %th
          Orphan name
        %th
          Orphan date of birth
        %th
          Orphan gender
        %th
          Sponsorship Began
        %th

        %th

    %tbody
      - sponsorships.each do |sponsorship|
        %tr
          %td
            = link_to sponsorship.orphan.name, hq_orphan_path(sponsorship.orphan)
          %td
            = sponsorship.orphan.date_of_birth
          %td
            = sponsorship.orphan.gender
          %td
            = sponsorship.start_date
          %td
            =form_for(sponsorship,
                :url => {controller: :sponsorships, action: :inactivate, id: sponsorship.id},
                html: {method: :put, class: "form-inline"}) do |f|
              =f.submit "End Sponsorship", class: "btn btn-default"
              .form-group
                =f.label :end_date, "on"
                =f.text_field :end_date, value: Date.current, class: "form-control"
          %td
            =link_to "X",
                hq_sponsorship_path(sponsorship),
                method: :delete,
                data: { confirm: 'WARNING: You are about to permanently delete the record of this sponsorship!'},
                class: "btn btn-xs btn-danger"
