=render partial: "layouts/content_title.erb", locals: {title: "New Sponsor"}

= render partial: 'form', locals: { sponsor: @sponsor, statuses: @statuses, sponsor_types: @sponsor_types, organizations: @organizations, branches: @branches, cities: @cities }
