<%=render partial: "layouts/content_title.erb",
          locals: {title: "Validate Spreadsheet for partner: #{partner.name}, OSRA Number: #{partner.osra_num}"} %>

<h1 class="indent">Orphan list is invalid</h1>

<p class="indent"> The following errors were encountered while processing the uploaded file: </p>

<div class='table-responsive'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th> Location </th>
        <th> Error details </th>
    </thead>
    <tbody>
      <%- result.each do |message| %>
        <tr>
          <td>
            <%= message[:ref] %>
          </td>
          <td>
            <%= message[:error] %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
</div>

<%= link_to "Cancel", partner_path(partner), class: "indent btn btn-default btn-cancel", role: "button" %>
