// links
a, a:hover {
  color: $links-color;
}

// buttons
.btn-primary {
  background-color: $links-color;
  border-color: $links-color;
}

.btn-primary:hover {
  background-color: $links-color-dark;
  border-color: $links-color-dark;
}

.btn-default, .btn-default:hover {
  color: $links-color;
  border-color: $links-color;
}

// sort glyphicons
.th_sort_asc {
  @extend .glyphicon-triangle-top;
  color: $links-color;
  top: 3px;
}

.th_sort_desc{
  @extend .glyphicon-triangle-bottom;
  color: $links-color;
  top: 3px;
}

// other
.table-responsive {
  border: none;
}


