.no-horiz-padding {
  padding-left: 0px;
  padding-right: 0px;
}

ul.nav li {
  text-align: center;
}

ul.nav li a {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .navbar {
    width:80px;
  }
  .content {
    width:calc(100% - 80px);
    float:left;
  }
}
