<% set_devise_notice_to_flash %>
<% if any_accepted_flash? %>
  <div class="flashes">
    <% each_accepted_flash do |type, message| %>
      <div class="<%= flash_htmlclass_for type %>">
        <%= button_to "#", :class => "close", "data-dismiss" => "alert", :aria_label => "Close" do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
        <%= message.to_s %>
      </div>
    <% end %>
  </div>
<% end %>
