<nav class="osra-nav-header" role="navigation">
  <div class="osra-header-inner">
      <div class="osra-header-primary">
        <p>OSRA Support System</p>
      </div>
      <div class="osra-header-secondary">
        <ul class="osra-header __secondary">
          <% if admin_user_signed_in?  %>
            <li> <%= link_to current_admin_user.email, admin_admin_user_path(current_admin_user.id) %></li>
            <li> <%= link_to 'logout', :destroy_admin_user_session %> </li>
          <% end %>
        </ul>
      </div>
  </div>
</nav>
<div class="osra-header-clear">

