<nav class="osra-nav-header" role="navigation">
  <div class="osra-header-inner">
      <div class="osra-header-primary">
        <p>OSRA Support System</p>
      </div>
      <div class="osra-header-secondary">
        <ul class="osra-header __secondary">
          <li>example@example</li>
          <li>logout</li>
        </ul>
      </div>
  </div>
</nav>
<div class="osra-header-clear">

