<header class="osra-header">
  <div class="brand">
    <a href= "<%= root_path %>">OSRA Support System</a>
  </div>

  <div class="logout-nav">
    <% if admin_user_signed_in? %>
      <div><%= link_to 'logout', :destroy_admin_user_session, method: :delete %></div>
      <div><%= current_admin_user.email %></div>
    <% end %>
  </div>
</header>
