<!DOCTYPE html>
<html>
  <head>
    <title>Osra</title>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
